* {
  box-sizing: border-box;
}
#container {
  width: 1000px;
  margin: 0 auto;
}
header {
  margin-bottom: 20px;
}
footer {
  margin-top: 20px;
}

div,
header,
footer {
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}
header,
footer {
  height: 100px;
  border: 1px solid red;
}
#content {
  height: 390px;
}
#content > div:nth-child(1) {
  width: 200px;
  height: 350px;
  margin-right: 8px;
  float: left;
}

#content > div:nth-child(2) {
  width: 500px;
  height: 350px;
  margin-right: 8px;
  float: left;
}

#content > div:nth-child(3) {
  width: 200px;
  height: 350px;
  float: left;
}
